@import "../../../mixins.scss";

.main {
  margin: 0 0 10px 0;
}

.box {
  @include position(relative, 10);
  margin: 0 0 30px 0;
  @include visible-translate-X(-100px);
}

.author {
  padding-left: 15px;
}
