@import "../../../mixins.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  @include block-size(100%, 100%);
  @include visible();
  &::after {
    content: "";
    @include position(fixed, 1, 0, 0);
    @include block-size(100%, 100%);
    background: radial-gradient(circle at 100%, #1b273537 0%, #38495a 100%);
  }
}

.img {
  @include position(fixed, 1, 0, 0);
  @include block-size(100%, 100%);
  filter: saturate(120%) grayscale(0.55);
  object-position: 50% 0;
}

.desc {
  width: 100%;
  max-width: 700px;
  margin: 0;
  border-radius: 20px;
  padding: 25px;
  font-size: 1.3rem;
  line-height: 140%;
  background-color: #1b27356b;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), inset 0 2px 1px rgba(255, 255, 255, 0.5),
    inset 0 -5px 2px rgba(0, 0, 0, 0.6), inset 0 -8px 2px rgba(255, 255, 255, 0.3);
  @include transition(opacity, 0);
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  &:nth-child(2n) {
    align-self: end;
  }
  & span {
    @include transition(opacity, 0, 1s);
  }
  &__box {
    @include position(relative, 2);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 40px;
  }
  &__active {
    &,
    & span {
      opacity: 1;
    }
    @include visible-translate-X(-200px);
    &:nth-child(2n) {
      @include visible-translate-X(200px);
    }
  }
  @media (max-width: 1146px) {
    max-width: 520px;
    border-radius: 15px;
    padding: 20px;
    line-height: 130%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &__box {
      padding-top: 20px;
    }
  }
  @media (max-width: 600px) {
    max-width: 380px;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2rem;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), inset 0 2px 1px rgba(255, 255, 255, 0.5),
      inset 0 -4px 2px rgba(0, 0, 0, 0.6), inset 0 -6px 2px rgba(255, 255, 255, 0.3);
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &__box {
      padding-top: 10px;
    }
  }
  @media (max-width: 450px) {
    max-width: 250px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1rem;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 1), inset 0 2px 1px rgba(255, 255, 255, 0.5),
      inset 0 -3px 2px rgba(0, 0, 0, 0.6), inset 0 -5px 2px rgba(255, 255, 255, 0.3);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &__box {
      padding-top: 0;
    }
  }
}
