@mixin reset($selector) {
  @if $selector == desc {
    margin: 0;
    padding: 0;
  } @else if $selector == li {
    list-style: none;
    margin: 0;
    padding: 0;
  } @else if $selector == btn {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    padding: 0;
    background-color: transparent;
  }
}
