@import "./mixins.scss";

* {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='29px' viewBox='0 0 20 28'%3E%3Cdefs%3E%3ClinearGradient id='cursor' gradientUnits='userSpaceOnUse' x1='0.14645' y1='0.14645' x2='0.85355' y2='0.85355' gradientTransform='matrix(49.941406,0,0,49.941406,0,0)'%3E%3Cstop offset='0' stop-color='%236f8ead' /%3E%3Cstop offset='0.3' stop-color='%2338495a' /%3E%3Cstop offset='0.7' stop-color='%231b2735' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23cursor)' stroke='%23fff' d='M 1.316406 -0.046875 C 0.714844 -0.0820312 0.0429688 0.453125 -0.0703125 1.066406 C -0.0976562 1.230469 0.113281 25.402344 0.152344 26.59375 C 0.179688 27.25 0.492188 27.734375 1.011719 27.917969 C 1.261719 28.007812 1.847656 27.921875 2.070312 27.765625 C 2.179688 27.691406 3.757812 25.980469 5.585938 23.964844 C 8.328125 20.941406 8.957031 20.277344 9.191406 20.160156 C 9.425781 20.039062 10.292969 19.941406 14.195312 19.601562 C 17.335938 19.324219 18.984375 19.148438 19.144531 19.078125 C 19.429688 18.945312 19.777344 18.585938 19.882812 18.332031 C 20.066406 17.839844 19.96875 17.261719 19.640625 16.898438 C 19.269531 16.480469 1.996094 0.175781 1.824219 0.078125 C 1.722656 0.0195312 1.496094 -0.0390625 1.316406 -0.046875 Z M 1.316406 -0.046875 ' /%3E%3C/svg%3E"),
    auto;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 100%;
  color: #000000;
}

html,
body {
  position: relative;
  user-select: none;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 20px;
  &::after {
    content: "";
    @include position(fixed, -1, 0, 0, 0, 0);
    @include block-size(100%, 100%);
    background: radial-gradient(circle at 100%, #1b2735 0%, #090a0f 70%, #38495a 100%);
  }
  &::before {
    @include position(fixed, 100, initial, initial, 0, 0);
    content: "Credendo vides";
    opacity: 0.05;
    padding: 2px 5px;
    color: #38495a;
  }
  @media (max-width: 1146px) {
    font-size: 18px;
  }
  @media (max-width: 800px) {
    font-size: 17px;
  }
  @media (max-width: 600px) {
    font-size: 15px;
  }
  @media (max-width: 450px) {
    font-size: 10px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0;
  font-weight: 800;
}

h1 {
  font-size: 2.5rem;
}
h2,
h3,
blockquote {
  font-size: 1.3rem;
}
a {
  font-size: 1.2rem;
  font-weight: 600;
}
strong {
  font-size: 1.1rem;
}
figcaption {
  font-size: 0.8rem;
}

textarea,
input {
  font-size: 1rem;
  color: #8e8d8d;
  &::placeholder {
    font-size: 1rem;
    @include transition(color);
  }
  &:hover::placeholder,
  &:focus::placeholder,
  &:active::placeholder {
    color: #fff;
  }
}

a,
button,
textarea,
input {
  &,
  & * {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25px' height='29px' viewBox='0 0 25 28'%3E%3Cdefs%3E%3ClinearGradient id='pointer' gradientUnits='userSpaceOnUse' x1='0.14645' y1='0.14645' x2='0.85355' y2='0.85355' gradientTransform='matrix(49.941406,0,0,49.941406,0,0)'%3E%3Cstop offset='0' stop-color='%236f8ead' /%3E%3Cstop offset='0.3' stop-color='%2338495a' /%3E%3Cstop offset='0.7' stop-color='%231b2735' /%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23pointer)' stroke='%23fff' d='M 10.53125 -0.015625 C 9.382812 -0.0234375 8.441406 0.929688 8.429688 2.117188 L 8.363281 10.722656 L 8.351562 11.796875 L 8.296875 18.785156 C 5.648438 17.367188 4.441406 17.144531 3.101562 17.132812 C 1.542969 17.121094 -0.0195312 17.730469 -0.046875 19.78125 L 4.625 21.984375 L 7.886719 25.40625 C 9.433594 27.03125 11.550781 27.953125 13.761719 27.972656 L 20.726562 28.027344 C 23.027344 28.042969 24.910156 26.132812 24.929688 23.757812 L 25.015625 13.003906 C 25.023438 11.816406 24.097656 10.84375 22.949219 10.835938 C 22.140625 10.832031 21.40625 11.304688 21.054688 12.054688 C 20.925781 11.960938 20.855469 11.894531 20.855469 11.894531 C 20.867188 10.707031 19.941406 9.738281 18.789062 9.726562 C 17.636719 9.71875 16.699219 10.675781 16.6875 11.863281 L 16.695312 10.785156 C 16.707031 9.597656 15.78125 8.628906 14.628906 8.621094 C 13.480469 8.609375 12.539062 9.566406 12.527344 10.753906 L 12.597656 2.152344 C 12.609375 0.960938 11.683594 -0.0078125 10.53125 -0.015625 Z M -0.046875 19.78125 L -0.046875 19.796875 C -0.046875 19.792969 -0.046875 19.789062 -0.046875 19.78125 Z M -0.046875 19.78125 ' /%3E%3C/svg%3E"),
      pointer;
  }
  &:focus {
    outline: none;
  }
}

#root {
  width: 100%;
  max-width: 1900px;
  padding: 0 20px 0 210px;
  @media (max-width: 800px) {
    padding: 15px 15px 0 15px;
  }
}

.section {
  padding: 20px 6px;
  overflow: hidden;
  @media (max-width: 800px) {
    padding: 0 6px 20px 0;
  }
}

.title {
  @include position(relative, 5);
  max-width: 450px;
  margin: 0 0 30px 0;
  @include border(0 0 2px 0);
  padding: 0 0 20px 10px;
  &__active {
    @include visible-translate-Y(-50px);
  }
  @media (max-width: 600px) {
    padding: 0 0 15px 10px;
  }
  @media (max-width: 450px) {
    margin: 0 0 20px 0;
    padding: 0 0 8px 8px;
  }
}

.active {
  @mixin active-color($prop) {
    &-1 {
      #{$prop}: #fff;
    }
    &-2 {
      #{$prop}: #38495a;
    }
    &-3 {
      #{$prop}: #1b2735;
    }
  }
  &-stroke {
    @include active-color(stroke);
  }
  &-fill {
    @include active-color(fill);
  }
  &-stopColor {
    @include active-color(stop-color);
  }
  &-borderColor {
    @include active-color(border-color);
  }
  &-background {
    @include active-color(background-color);
    &-focus {
      &:hover,
      &:focus {
        background-color: #38495a;
      }
      &:active {
        background-color: #090a0fcd;
      }
    }
  }
  &-color {
    @include active-color(color);
    &-effect {
      background: -webkit-linear-gradient(#fff, #38495a);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &-focus {
      &:hover,
      &:focus,
      &:active {
        color: #485e74;
      }
    }
  }
  &-gradient {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }
  &-boxShadow {
    &-1 {
      box-shadow: 2px -2px 5px #ffffff81, 2px 2px 5px #ffffff81;
    }
    &-2 {
      box-shadow: 0 5px 15px 0 #38495a, 5px 0 15px 0 #38495a;
    }
  }
  &-textShadow {
    &-1 {
      text-shadow: 0.9px 0.9px #85acd4, 1.2px 1.2px #59738e;
      @media (max-width: 450px) {
        text-shadow: 0.5px 0.5px #85acd4, 1px 1px #59738e;
      }
    }
  }
}

// contacts-map
[class*="ground-pane"] {
  filter: grayscale(90%);
}

.lazyloading {
  text-align: center;
  font-size: 0;
  &::after {
    @include position(absolute, 0, 50%, 50%);
    content: "";
    @include block-size(100%, 100%);
    background-color: #1b273593;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' xmlns='http://www.w3.org/2000/svg' stroke='%23fff'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(1 1)' stroke-width='2'%3E%3Ccircle stroke-opacity='.5' cx='18' cy='18' r='18'/%3E%3Cpath d='M36 18c0-9.94-8.06-18-18-18'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 18 18' to='360 18 18' dur='1s' repeatCount='indefinite'/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
    transform: translate(-50%, -50%);
  }
}
