@import "../../../mixins.scss";

.list {
  @include reset(li);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  @media (max-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}

.item {
  @include position(relative, 2);
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  opacity: 0;
  transform-style: preserve-3d;
  transform: translateY(300px) scale(0) rotateX(180deg);
  @include transitions((opacity, transform));
  transition-duration: 1s;
  &__active {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0);
  }
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__box {
    @include position(absolute, 10, 0, 0);
    @include block-size(100%, 100%);
    padding: 30px 70px 10px 18px;
    background-color: #00000082;
    transform: translateX(-100%);
    @include transitions((transform, background-color));
    & .content__stack-title span {
      @include transition(background-color, #00000082);
    }
    &-active {
      background-color: #fff;
      transform: translateX(-8px);
      & .content__stack-title span {
        background-color: #fff;
      }
    }
    &:hover .content__btn {
      opacity: 1;
    }
  }
  &__logo {
    @include position(absolute, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    @include block-size(100%, 100%);
    background-color: #000000a3;
    transform: translateX(100%);
    @include transition(opacity, 1);
    & svg {
      @include block-size(100%, 40px);
      @media (max-width: 600px) {
        height: 35px;
      }
      @media (max-width: 450px) {
        height: 25px;
      }
    }
    &:hover {
      opacity: 0;
    }
  }
  &__view {
    @include position(absolute, 1, initial, initial, 0, 0);
    padding: 3px 8px;
    font-size: 0.6rem;
    color: #fff;
    background-color: #1c1c1c;
  }
  &__btn {
    @include position(absolute, 1, 0, initial, initial, -40px);
    opacity: 0;
    @include block-size(40px, 100%);
    border: 0;
    padding: 0;
    background-color: #00000082;
    @include transition(all);
    & svg {
      @include block-size(30px, 30px);
      animation: arrow 1s ease-in-out infinite;
      @keyframes arrow {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(5px);
        }
        100% {
          transform: translateX(0);
        }
      }
      & > path {
        @include transition(fill);
      }
    }
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      background-color: #fff;
      box-shadow: 10px 0px 8px -3px #323232bf;
      & svg > path {
        fill: #323232bf;
      }
      & + .content__logo {
        opacity: 0;
      }
    }
    &-active {
      right: 0 !important;
      opacity: 1;
      box-shadow: 10px 0px 8px -3px #323232bf;
      background-color: #fff;
      transform: scaleX(-1) translateX(-8px);
      & svg > path {
        fill: #323232bf;
      }
      &::after {
        @include position(absolute, 0, 0, initial, initial, 100%);
        content: "";
        @include block-size(100%, 100%);
        background-color: #00000082;
      }
      &:hover,
      &:active {
        transform: scaleX(-1) translateX(0);
      }
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    padding: 8px 10px;
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
    box-shadow: 3px 3px 3px 0px #00000047;
    @include transition(background-color, #1c1c1c);
    &:after {
      @include position(absolute, 0, -100px, -40px);
      display: block;
      content: "";
      @include block-size(20px, 200px);
      margin-left: 50px;
      background: linear-gradient(to bottom, #ffffff80 0%, #ffffffa3 50%, #ffffff80 100%);
      transform: rotate(45deg);
      animation: movingFlare 2.5s ease-in-out 0.05s infinite;
      @keyframes movingFlare {
        0% {
          left: -30px;
          margin-left: 0px;
        }
        30% {
          left: 110%;
          margin-left: 80px;
        }
        100% {
          left: 110%;
          margin-left: 80px;
        }
      }
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: red;
    }
    &-box {
      display: flex;
      align-items: center;
    }
  }
  &__stack {
    &-container {
      @include us-title-box();
      display: flex;
      flex-direction: column;
    }
    &-title {
      @include us-title();
    }
    &-list {
      @include reset(li);
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 450px) {
    &__box {
      padding: 20px 40px 7px 15px;
    }
    &__btn {
      right: -30px;
      width: 30px;
      & svg {
        @include block-size(20px, 20px);
      }
    }
    &__stack {
      font-size: 1.2rem;
    }
  }
}

.img {
  @include block-size(100%, 450px);
  @media (max-width: 1146px) {
    height: 550px;
  }
  @media (max-width: 800px) {
    height: 500px;
  }
  @media (max-width: 600px) {
    height: 450px;
  }
  @media (max-width: 450px) {
    height: 330px;
  }
}

.btn__visible {
  position: relative;
  left: 50%;
  margin-top: 30px;
  padding: 10px 18px;
  font-size: 1.5rem;
  font-weight: 700;
  transform: translateX(-50%);
  @include transition(background-color);
}
